<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All users</title>
</head>

<body>
    <h1>All users</h1>
    <ul>
        <% for (let user of users) { %>
            <a href="/users/<%= user._id %>"><%= user.username %></a>
        <% } %>
    </ul>
</body>

</html>