<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All users</title>
</head>

<body>
    <h1>All users</h1>
    <ul>
        <% for (let user of users) { %>
            <h3>
                <%= user.username %>
                <a href="/users/<%= user._id %>"><button>Details</button></a>
                </br>
            </h3>
        <% } %>
    </ul>
    <a href="/"><button>Home Page</button></a>
</body>

</html>