<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>
     <% if (success && success.length) { %>
        <div>
            <%= success %>
        </div>
    <% } %>
    <% if (error && error.length) { %>
        <div>
            <%= error %>
        </div>
    <% } %>
    <h1>Login</h1>
    <form action="/login" method="POST">
        <div>
            <label for="username">Enter Username:</label>
            <input type="text" name="username" id="username" placeholder="username" required>
        </div>
        <div>
            <label for="password">Enter password:</label>
            <input type="password" name="password" id="password" placeholder="password" required>
        </div>
        <button>Login</button>
    </form>
</body>

</html>