<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add new Ad</title>
</head>
<body>
    <form action="/ads" method="POST" enctype="multipart/form-data">
        <div>
            <label for="company">Company</label>
            <input type="text" id="company" name="ad[company]" required>
        </div>
        <div>
            <label for="text">Ad text</label>
            <textarea type="text" id="text" name="ad[text]" required></textarea>
        </div>
        <div>
            <label for="image">Ad image</label>
            <input type="file" name="image" id="image" multiple>
        </div>
        <button>Create AD</button>
    </form>
    <a href="/ads"><button>All Ads</button></a>
    <a href="/"><button>Home Page</button></a>
</body>
</html>