<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All companies</title>
</head>

<body>
    <h1>All companies</h1>
    <div>
        <a href="/companies/new">Create new company</a>
    </div>
    <ul>
        <% for (let company of companies) { %>
            <div>
                <a href="/companies/<%= company._id %>"><%= company.name %></a>
            </br>
        </div>
        <% } %>
    </ul>
</body>

</html>