<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add new Company</title>
</head>
<body>
    <form action="/companies" method="POST">
        <div>
            <label for="name">Company name</label>
            <input type="text" id="name" name="company[name]">
        </div>
        <button>Create Company</button>
    </form>
    <a href="/companies">All Companies</a>
</body>
</html>