<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Company</title>
</head>

<body>
    <div><%= company.name %></div>
    <a href="/companies/<%= company._id %>/edit">Edit</a>
    <form action="/companies/<%= company._id %>?_method=DELETE" method="POST">
        <button>Delete</button>
    </form>
    <a href="/companies">All companies</a>
</body>

</html>