<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>

<body>
    <% if (success && success.length) { %>
        <div>
            <%= success %>
        </div>
    <% } %>
    <% if (error && error.length) { %>
        <div>
            <%= error %>
        </div>
    <% } %>
    <% if(!currentUser) { %>
        <a href="/register"><button>Register</button></a>
        <a href="/login"><button>Login</button></a>
    <% } %>
    <% if(currentUser) { %>
        <div>
            <a href="/ads"><button>All Ads</button></a>
            <a href="/users"><button>All Users</button></a>
            <form action="/logout" method="POST">
                <button type="submit">Logout</button>
            </form>
        </div>
    <% } %>
    <h1>Home Page</h1>
    <h2>Welcome to Pejman-MERN-Wonderland</h2>
</body>

</html>